modules = ["nodejs-20", "python-3.12", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "postgresql", "tcl", "tk", "zlib"]

[userenv]

[userenv.shared]
BOT_NAME = "Lucky Jet AI Bot"
BOT_PROMO_CODE = "JRYVES"
ENVIRONMENT = "production"
FREE_SIGNALS_PER_DAY = "6"
LOG_LEVEL = "INFO"
PREMIUM_SIGNALS_PER_DAY = "9"
ADMIN_ID = "8537454742"
BOT_AFFILIATE_LINK = "https://1win.ci/casino?p=9x0g"
CHANNEL_1_LINK = "https://t.me/+C_OEsE62_wUwOWI0"
CHANNEL_1_NAME = "📢 Canal Officiel"
CHANNEL_2_LINK = ""
CHANNEL_2_NAME = ""
CHANNEL_1_ID = "-1003642052888"
CHANNEL_2_ID = ""

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Admin Panel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "Admin Panel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=20130 BASE_PATH=/admin-panel/ pnpm --filter @workspace/admin-panel run dev"
waitForPort = 20130

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"
