modules = ["nodejs-20", "python-3.12", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "postgresql", "tcl", "tk", "zlib"]

[userenv]

[userenv.shared]
BOT_NAME = "Lucky Jet AI Bot"
BOT_PROMO_CODE = "JRYVES"
ENVIRONMENT = "production"
FREE_SIGNALS_PER_DAY = "6"
LOG_LEVEL = "INFO"
PREMIUM_SIGNALS_PER_DAY = "9"
ADMIN_ID = "8537454742"
BOT_AFFILIATE_LINK = "https://1win.ci/casino?p=9x0g"
CHANNEL_1_LINK = "https://t.me/+C_OEsE62_wUyOWI0"
CHANNEL_1_NAME = "📢 Canal Officiel"
CHANNEL_2_LINK = ""
CHANNEL_2_NAME = ""
CHANNEL_1_ID = "-1003642052888"
CHANNEL_2_ID = ""
